<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ escape(handler.settings["page_title"]) }}</title>
    <link href="{{ static_url("bootstrap/bootstrap.min.css") }}" rel="stylesheet"/>
    <link href="{{ static_url("bootstrap/bootstrap-theme.css") }}" rel="stylesheet"/>
    <link href="{{ static_url("fonts/OleoScript-Regular.ttf") }}" rel="stylesheet"/>
    <link href="{{ static_url("estilos.css") }}" rel="stylesheet" type="text/css">
    {% block head %}{% end %}
  </head>
  <body>
    {% if menu %}
    <div class="container">
    <br>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-targer="#navbar-1" name="button">
                <span class="sr-only">menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/main" class="navbar-brand">SpoofCorporate</a>

          </div>

          <div class="collapse navbar-collapse" id="navbar-1">
            <ul class="nav navbar-nav">
              <li><a href="/main/ventas">Ventas</a></li>
              <li><a href="/main/clientes">Clientes</a></li>
              <li><a href="/main/productos">Productos</a></li>
              <li><a href="/main/contabilidad">Contabilidad</a></li>
            </ul>

            <form class="navbar-form navbar-left" action="" method="post" role="search">
              <div class="form-group">
                <input type="text" class="form-control" name="" placeholder="Buscar">
              </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout">Salir</a></li>
            </ul>

          </div>
        </div>
      </nav>
    </header>

    </div>
    {% end %}
  {% block body %}{% end %}
  </body>
</html>
