{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="table-responsive">
    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-open"></span> Nueva Venta</a>
    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-open"></span> Nueva Venta</a>
    <br>
    <br>
    <table class="table table-bordered">
    <tr>
      <th>Id</th>
      <th>clientes</th>
    </tr>
    {% for cliente in clientes %}
    <tr>
      <td>{{ cliente.idCliente }}</td>
      <td>{{ cliente.Nombre }}</td>
    </tr>
    {% end %}
    </table>
  </div>
</div>
{% end %}
