{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="table-responsive">
    <a href="/main/nuevaventa" class="btn btn-default"> Nueva Venta</a>
    <a href="/main/nuevocliente" class="btn btn-default"> Nuevo Cliente</a>
    <br>
    <br>
    <table class="table table-bordered">
    <tr>
      <th>Descripcion</th>
      <th>Enlace</th>
      <th>Ultima Ubicacion</th>
      <th>Tiempo Restante de Proteccion</th>
    </tr>
    {% for producto in productos %}
    <tr>
      <td>{{ producto.Descripcion }}</td>
      <td>{{ producto.Enlace }}</td>
      <td>{{ producto.UltimaUbicacion }}</td>
      <td>{{ producto.FechaEnvio }}</td>
    </tr>
    {% end %}
    </table>
  </div>
</div>
{% end %}
