<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>practica</title>
  </head>
  <body>
    <h1 id="titulo">Sitio Web</h1>

<div id="subtitulo">

</div>

<form class="" action="" method="post">
  <input type="text" id="num1">
  <input type="text" id="num2">
  <input type="button" id="total" value="sumar" onclick="alert(sumar());">
</form>

<p id="segundo">2 . Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<ol id="lista">
  <li>alksdjlaskdjaksl asdasd</li>
  <li>z,mxcnz,xmcnzx,cm</li>
</ol>
    <script src="intro.js" charset="utf-8"></script>
  </body>
</html>
